{% extends 'base/main.html' %}

{% load static %}
{% block title  %}
Страница про нас
{% endblock  %}

{% block content  %}
<br>
<h1>Про нас</h1>
<img src="{% static 'img/romashka.jpg' %}" width="200px" height="200px" alt="Ромашка">
<div class="container">    
    <div>
        <p>Компания ООО "Ромашка" была основана в 1995 году и специализируется на производстве высококачественных конфет. Наша компания стремится предложить клиентам только лучшие продукты, изготовленные из натуральных ингредиентов.</p>
        <p>Мы гордимся нашей репутацией надежного поставщика и всегда придерживаемся высоких стандартов качества. Наши конфеты пользуются популярностью среди потребителей благодаря своему вкусу и уникальному дизайну упаковки. Наша команда профессионалов постоянно работает над разработкой новых вкусов и улучшением существующих продуктов, чтобы удовлетворить потребности наших клиентов.</p>
    </div>
</div>

{% endblock  %}