{% extends 'base/main.html' %}
{% load static %}
{% block title  %}
Главная страница сайта
{% endblock  %}

{% block content  %}
<br>
    <h1>Главная страница</h1>    
    {% if products  %}
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Описание</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>У нас нет записей! </p>
    {% endif %}
{% endblock  %}
